.content {
  display: inline-block;
  padding-top: 20px;
  margin: 10px 3% 20px 3%;
  /*height:25vw;*/
  /* height: 370px; */
  /* width: 400px; */
  /* border:1px dotted #bbbcbc; */
  overflow: hidden;
  word-wrap: break-word;
  line-height: 30px;
}